html {
    background:
        -o-radial-gradient(black 15%, transparent 16%) 0 0,
        -o-radial-gradient(black 15%, transparent 16%) 4px 4px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -o-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
    background:
        -ms-radial-gradient(black 15%, transparent 16%) 0 0,
        -ms-radial-gradient(black 15%, transparent 16%) 4px 4px,
        -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -ms-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
    background:
        -moz-radial-gradient(black 15%, transparent 16%) 0 0,
        -moz-radial-gradient(black 15%, transparent 16%) 4px 4px,
        -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -moz-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
    background:
        -webkit-radial-gradient(black 15%, transparent 16%) 0 0,
        -webkit-radial-gradient(black 15%, transparent 16%) 4px 4px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
        -webkit-radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 4px 5px;
    background-color:#202020;
    background-size:8px 8px;
}

body {
    width: 768px;
    max-width: 100%;
    margin: 0;
    margin-left: 5%;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
}

h1 {
    font-size: 3em;
}

a {
    color: #3BF;
}

#wrap {
    padding: 0 0 30px;
    background: #E6E6E6 url(greynoise.jpg);

    border: 1px solid rgba(0,0,0,.5);
    color: #000;
    box-shadow: /*0 0 5px 3px rgba(0,0,0,.1) inset*/ 5px 5px 10px black;
    text-shadow: 1px 1px #fff;
}

#options, #rooster {
    max-width: 766px;
}

#options {
    margin: 0;
    border:0;
    padding: 0;

    box-shadow: 0 1px 0 #fff;
    padding: 20px 30px 15px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

#topnav {
    height: 40px;
    background: url(greynoise.jpg);

    box-shadow: 0 1px 0 #fff;

}

#topnav button {
    font-size: 1em;
    height: 40px;
    width: 18%;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    border: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 0 0 #fff;
    text-shadow: 1px 1px #fff;
    background: transparent;
    -webkit-transition: all .3s ease;
}

#topnav button#extra-opts {
    color: #fff;
    background: url('rednoise.jpg');
    text-shadow: 1px 1px #000;
}

#topnav button#extra-opts.active {
    background-image: url('diagstripe.png'), url('rednoise.jpg') !important;
}

#topnav button:last-of-type {
    border-right: 0 !important;
    box-shadow: none;
}

#topnav button:hover {
    cursor: pointer;
    background: rgba(255,255,255,.3);
}

#topnav .active, #topnav .active:hover  {
    cursor: default;
    background: url('diagstripe.png');
}

#topnav .disabled, #topnav .disabled:hover {
    cursor: default;
    background:none;
}

#topnav .legend {
    float:left;
    line-height: 40px;
    text-align:right;
    height: 39px;
    width: 27%;
    padding-right: 1%;
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    box-shadow: 1px 0 0 #fff;
    text-shadow: 1px 1px #fff;
}



#rooster {
    padding: 0 30px;
}

#options label {
    cursor: pointer;
    margin-left: 3px;
    font-size: .9em;
}

.select-outline {
    margin: .2em 0 1em 0;
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 1px 0 #fff, 0 1px 0 #fff inset;
    -webkit-transition: all .5s ease;
}
.select-outline:hover {
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 2px 3px rgba(0,0,0,.1), 0 1px 0 #fff inset;
}

#options select {
    display: block;
    width: 100%;
    height: 32px;
    padding-left: 10px;
    font-size: 1em;
    text-shadow: 1px 1px #fff;
    border-radius: 6px;
    border: none;
    background: transparent;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

#options select:hover, #options select:focus {
    background: rgba(255,255,255,.3);
}

#options select option {
    font-size: 1em;
}

#showhide {
    float:right;
    margin: -1px 30px 0 0;
    padding: 8px 12px 6px;
    border: 1px solid rgba(0,0,0,.1);
    border-top: 0;
    background: url(greynoise.jpg);
    box-shadow: 0 1px #fff;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 1px 1px #fff;
}

#rooster h3 {
    font-weight: normal;
    width: 150px;
    padding: 4px 0;
    text-align:center;
    color: #fff;
    background: #222;
    text-shadow: 1px 1px #555;
    box-shadow: 0 1px rgba(0,0,0,.3), 0 2px rgba(0,0,0,.2), 0 3px 3px rgba(0,0,0,.1);
}

#rooster .lesson {
    padding: 10px;
    margin: 0 0 10px;
    background: rgba(0,0,0,.6);
    box-shadow: 0 5px 3px rgba(0,0,0,.1);
    color: #fff;
    text-shadow: 1px 1px #000;
}

#rooster .time {
    display: inline-block;
    font-size: .9em;
    float: right;
}

#rooster .classroom {
    display: inline-block;
    font-size: .9em;
    margin: 3px 0 0;
    color: #ddd;
    clear: both;
}

#rooster .addcalender {
    float: right;
    font-size: .8em;
    margin-top: 3px;
}

#copyright {
    margin-left: 30px;
}

@media screen and (max-width: 480px) {
    #topnav button {
        width: 25%;
    }

    #topnav .legend {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    body {
        margin: 0 auto !important;
    }
}
